Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

bpfman-agent-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-agent-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-agent-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-agent-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bpfman-agent.openshift
  - name: build-args-file
  ...

bpfman-operator-bundle-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-operator-bundle-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bundle.openshift
  - name: prefetch-input
  ...

bpfman-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bpfman-operator.openshift
  - name: build-args-file
  ...

ocp-bpfman-operator-catalog-ocp4-19-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

ocp-bpfman-operator-catalog-ocp4-20-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

Revert "Revert "Restore multi-arch builds""
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Update z-stream pipelines to target release-0.5.8 branch
  .tekton/bpfman-agent-zstream-pull-request.yaml
  .tekton/bpfman-agent-zstream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-pull-request.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
  .tekton/bpfman-operator-zstream-pull-request.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: none

Bump OPENSHIFT-VERSION to 0.6.0 for y-stream development
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Nudge operator and agent zstream builds for release-0.5.8
  cmd/nudge-operator-agent-zstream.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Nudge bundle zstream rebuild to sync with current components
  bundle/nudge-bundle-sync.txt
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Revert "chore(deps): update docker.io/library/golang docker tag to v1.25"
  Containerfile.bpfman-agent
  Containerfile.bpfman-operator
Due: none

Fix operator pipeline race condition by removing agent/daemon nudge triggers
  .tekton/bpfman-operator-zstream-push.yaml
Due: none

Revert "Fix operator pipeline race condition by removing agent/daemon nudge triggers"
  .tekton/bpfman-operator-zstream-push.yaml
Due: none

Bump OPENSHIFT-VERSION to 0.5.9
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Bump OPENSHIFT-VERSION to 0.5.10
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Revert "Bump OPENSHIFT-VERSION to 0.5.10"
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Fix bundle build triggers to include agent and daemon changes
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Revert "Revert "Bump OPENSHIFT-VERSION to 0.5.10""
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Bump OPENSHIFT-VERSION to 0.5.11
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Add daemon image trigger to bundle pipeline
  .tekton/bpfman-operator-bundle-ystream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Test nudging configuration fix for snapshot synchronisation
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Add agent and daemon image triggers to z-stream bundle
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: none

Add test file to trigger agent/operator race condition experiment
  cmd/test-race-condition-experiment.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Switch to RHEL subscription content for RPM lockfiles
  hack/openshift/generate-rpm-lockfile-rhel.sh
  hack/openshift/generate-rpm-lockfile.sh
  redhat.repo
  rpms.in.yaml
  rpms.lock.yaml
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Refine RHEL repo configuration and add multi-arch support
  hack/openshift/generate-rpm-lockfile-rhel.sh
  redhat.repo
  rpms.in.yaml
  rpms.lock.yaml
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Filter redhat.repo to only include enabled repositories
  hack/openshift/generate-rpm-lockfile-rhel.sh
  redhat.repo
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Simplify Perl quoting in generate-rpm-lockfile-rhel.sh
  hack/openshift/generate-rpm-lockfile-rhel.sh
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Remove generate-rpm-lockfile-rhel.sh in favour of bpfman copy
  hack/openshift/generate-rpm-lockfile-rhel.sh
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Replace upstream csi-node-driver-registrar with Red Hat image
  Containerfile.bpfman-operator.openshift
  OPENSHIFT-VERSION
  hack/openshift/Makefile
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Patch daemonset to use Red Hat CSI node driver registrar image
  Containerfile.bpfman-operator.openshift
  OPENSHIFT-VERSION
  hack/openshift/Makefile
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Add CSI node driver registrar to bundle relatedImages
  Containerfile.bundle.openshift
  hack/openshift/Makefile
  hack/openshift/README.md
  hack/openshift/update-bundle.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Extend relatedImages with operator, agent, and bpfman images
  Containerfile.bundle.openshift
  hack/openshift/Makefile
  hack/openshift/README.md
  hack/openshift/update-bundle.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Remove unnecessary operator build triggers for agent and daemon
  .tekton/bpfman-operator-ystream-push.yaml
Due: bpfman-operator-ystream-on-push

Add snapshot validation pipeline for Konflux releases
  .tekton/integration-test-scenarios.yaml
  .tekton/snapshot-validation-pipeline.yaml
Due: none

Add test pipeline to prove scripts can be accessed from repo
  .tekton/test-scripts-pipeline.yaml
  .tekton/test-scripts-scenario.yaml
  hack/konflux/scripts/hello.sh
Due: none

Add snapshot validation pipeline for Konflux releases
  .tekton/integration-test-scenarios.yaml
  .tekton/snapshot-validation-pipeline.yaml
  hack/konflux/scripts/validate-snapshot.py
Due: none

Test python3 availability in Konflux integration test environment
  .tekton/test-scripts-pipeline.yaml
  hack/konflux/scripts/hello.py
Due: none

Fix test-scripts-pipeline to extract git info from SNAPSHOT directly
  .tekton/test-scripts-pipeline.yaml
Due: none

Replace podman with oc image extract for bundle extraction
  hack/konflux/Containerfile.local-test
  hack/konflux/scripts/validate-snapshot.py
Due: none

Extract git info from SNAPSHOT instead of using parse-metadata
  .tekton/snapshot-validation-pipeline.yaml
Due: none

Limit snapshot validation to push events only
  .tekton/integration-test-scenarios.yaml
Due: none

Use bundle component revision for validation pipeline clone
  .tekton/snapshot-validation-pipeline.yaml
Due: none

Use bundle component revision for validation pipeline clone (#1410)
  .tekton/snapshot-validation-pipeline.yaml
Due: none

Trigger operator rebuild to sync nudge state
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Trigger operator rebuild to sync nudge state (#1412)
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Path conditions:
  bpfman-agent-ystream-on-pull-request: ((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-agent-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-agent-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-agent.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)
  bpfman-agent-ystream-on-push: (((((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-agent-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-agent-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-agent.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)) or (any of: hack/openshift/***)) or (any of: hack/konflux/images/bpfman-agent.txt)) or (any of: OPENSHIFT-VERSION)
  bpfman-operator-bundle-ystream-on-pull-request: (((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)) or (any of: OPENSHIFT-VERSION)
  bpfman-operator-bundle-ystream-on-push: ((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)
  bpfman-operator-ystream-on-push: ((((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)) or (any of: hack/openshift/***)) or (any of: OPENSHIFT-VERSION)
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)
