Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

bpfman-agent-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-agent-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-agent-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-agent-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bpfman-agent.openshift
  - name: build-args-file
  ...

bpfman-operator-bundle-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-operator-bundle-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bundle.openshift
  - name: prefetch-input
  ...

bpfman-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bpfman-operator.openshift
  - name: build-args-file
  ...

ocp-bpfman-operator-catalog-ocp4-19-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

ocp-bpfman-operator-catalog-ocp4-20-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

Run snapshot validation only when bundle updates
  .tekton/integration-test-scenarios.yaml
Due: none

Run snapshot validation only when bundle updates (#1415)
  .tekton/integration-test-scenarios.yaml
Due: none

Trigger operator rebuild to sync nudge state
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Trigger operator rebuild to sync nudge state (#1416)
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Disable relatedImages in bundle CSV to fix release failures
  hack/openshift/update-bundle.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Disable relatedImages in bundle CSV to fix release failures (#1432)
  hack/openshift/update-bundle.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Temporarily restrict builds to x86 architecture only
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Temporarily restrict builds to x86 architecture only (#1435)
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Remove snapshot validation integration test
  .tekton/integration-test-scenarios.yaml
  .tekton/snapshot-validation-pipeline.yaml
Due: none

Remove snapshot validation integration test (#1436)
  .tekton/integration-test-scenarios.yaml
  .tekton/snapshot-validation-pipeline.yaml
Due: none

Remove test-scripts integration test scenario
  .tekton/test-scripts-pipeline.yaml
  .tekton/test-scripts-scenario.yaml
Due: none

Remove test-scripts integration test scenario (#1437)
  .tekton/test-scripts-pipeline.yaml
  .tekton/test-scripts-scenario.yaml
Due: none

Synchronise nudge files with Konflux lastPromotedImage
  hack/konflux/images/bpfman-agent.txt
  hack/konflux/images/bpfman-operator.txt
  hack/konflux/images/bpfman.txt
Due: bpfman-agent-ystream-on-push

Synchronise nudge files with Konflux lastPromotedImage (#1441)
  hack/konflux/images/bpfman-agent.txt
  hack/konflux/images/bpfman-operator.txt
  hack/konflux/images/bpfman.txt
Due: bpfman-agent-ystream-on-push

Add script to synchronise nudge files with Konflux
  hack/openshift/sync-nudge-files.sh
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Add script to synchronise nudge files with Konflux (#1442)
  hack/openshift/sync-nudge-files.sh
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Revert "Temporarily restrict builds to x86 architecture only (#1435)"
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Remove Konflux nudging documentation
  hack/konflux/README.md
Due: none

Remove Konflux nudging documentation (#1449)
  hack/konflux/README.md
Due: none

Remove deprecated dev-package-managers parameter from prefetch task
  .tekton/single-arch-build-pipeline.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Bump version to 0.6.0 for release
  VERSION
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  changelogs/CHANGELOG-v0.6.0.md
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Adapt downstream tooling for upstream ConfigMap to Config CR migration
  Containerfile.bundle.openshift
  bundle/manifests/bpfman-config_v1_configmap.yaml
  bundle/manifests/bpfman.io_v1alpha1_config.yaml
  hack/konflux/scripts/validate-snapshot.py
  hack/openshift/Makefile
  hack/openshift/README.md
  hack/openshift/update-bundle.py
  hack/openshift/update-config.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Add default-config subcommand and lifecycle tests
  cmd/bpfman-operator/main.go
  test/integration/suite_test.go
  test/lifecycle/lifecycle_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Remove Config CR from kustomise and bundle manifests
  bundle/manifests/bpfman-config_v1_configmap.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  config/bpfman-deployment/config.yaml
  config/bpfman-deployment/kustomization.yaml.env
  config/default/kustomization.yaml
  config/openshift/kustomization.yaml
  config/openshift/patch.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Bootstrap Config CR from operator on startup
  Makefile
  cmd/bpfman-operator/main.go
  config/bpfman-operator-deployment/deployment.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
  internal/constants.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Remove unused OpenShift kustomise files
  config/openshift/agent-metrics-monitor-tls-patch.yaml
  config/openshift/agent-metrics-service-serving-cert-patch.yaml
  config/openshift/controller-manager-metrics-service-monitor-tls-patch.yaml
  config/openshift/controller-manager-metrics-service-serving-cert-patch.yaml
  config/openshift/manager_config_patch.yaml
  config/openshift/patch.yaml
  config/openshift/prometheus-metrics-reader-binding.yaml
  config/openshift/prometheus-rolebinding.yaml
  config/openshift/rbac.yaml
  config/prometheus/agent-service-monitor.yaml
  config/prometheus/controller-manager-metrics-monitor.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Gate ServiceMonitors and metrics proxy on monitoring availability
  bundle/manifests/bpfman-agent-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-agent-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/bpfman-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  cmd/bpfman-operator/main.go
  config/openshift/kustomization.yaml
  config/openshift/manager_auth_proxy_patch.yaml
  config/prometheus/kustomization.yaml
  config/rbac/bpfman-operator/role.yaml
  controllers/bpfman-operator/config.go
  controllers/bpfman-operator/config_test.go
  go.mod
  go.sum
  internal/constants.go
  internal/k8s.go
  test/integration/metrics_test.go
  test/integration/suite_test.go
  test/lifecycle/lifecycle_test.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/resource.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/dns_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/doc.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/http_config.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/tls_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Add OLM bundle deployment targets and CI workflow
  .github/workflows/olm_bundle_test.yml
  Makefile
  hack/kind-config.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Adapt downstream tooling for Config CR bootstrap
  Containerfile.bundle.openshift
  bundle/manifests/bpfman-operator.clusterserviceversion.yaml
  hack/konflux/scripts/validate-snapshot.py
  hack/openshift/Makefile
  hack/openshift/update-bundle.py
  hack/openshift/update-configmap.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

DO NOT MERGE: Point operator pullspec at PR-built image for testing
  hack/konflux/images/bpfman-operator.txt
Due: none

Adapt downstream tooling for Config CR bootstrap
  Containerfile.bundle.openshift
  hack/konflux/scripts/validate-snapshot.py
  hack/openshift/Makefile
  hack/openshift/update-bundle.py
  hack/openshift/update-configmap.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Update downstream Containerfiles for bpfman/main changes
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Declare build metadata as ARGs in downstream Containerfiles
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Wire build metadata through Konflux pipeline params
  .tekton/bpfman-agent-ystream-pull-request.yaml
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-operator-ystream-pull-request.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

DO NOT MERGE: Point operator and agent pullspecs at PR-built images
  hack/konflux/images/bpfman-agent.txt
  hack/konflux/images/bpfman-operator.txt
  hack/konflux/images/bpfman.txt
Due: bpfman-agent-ystream-on-push

Path conditions:
  bpfman-agent-ystream-on-pull-request: ((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-agent-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-agent-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-agent.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)
  bpfman-agent-ystream-on-push: (((((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-agent-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-agent-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-agent.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)) or (any of: hack/openshift/***)) or (any of: hack/konflux/images/bpfman-agent.txt)) or (any of: OPENSHIFT-VERSION)
  bpfman-operator-bundle-ystream-on-pull-request: (((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)) or (any of: OPENSHIFT-VERSION)
  bpfman-operator-bundle-ystream-on-push: ((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)
  bpfman-operator-ystream-on-push: ((((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)) or (any of: hack/openshift/***)) or (any of: OPENSHIFT-VERSION)
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)
