Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

bpfman-agent-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-agent-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-agent-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-agent-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bpfman-agent.openshift
  - name: build-args-file
  ...

bpfman-operator-bundle-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-operator-bundle-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bundle.openshift
  - name: prefetch-input
  ...

bpfman-operator-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bpfman-operator.openshift
  - name: build-args-file
  ...

ocp-bpfman-operator-catalog-ocp4-19-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

ocp-bpfman-operator-catalog-ocp4-20-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

Wire build metadata through Konflux pipeline params
  .tekton/bpfman-agent-ystream-pull-request.yaml
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-operator-ystream-pull-request.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Fix container name labels to match registry repository paths
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Accept snapshot name or JSON in validate-snapshot
  hack/konflux/scripts/validate-snapshot.py
Due: none

Add CPE label to downstream Containerfiles
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Bump OPENSHIFT-VERSION to 0.7.0 for next y-stream cycle
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Prepare release-0.6 branch for z-stream patches
  .tekton/bpfman-agent-ystream-pull-request.yaml
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-agent-zstream-pull-request.yaml
  .tekton/bpfman-agent-zstream-push.yaml
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-pull-request.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
  .tekton/bpfman-operator-ystream-pull-request.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  .tekton/bpfman-operator-zstream-pull-request.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Remove stale z-stream Tekton pipeline files from main
  .tekton/bpfman-agent-zstream-pull-request.yaml
  .tekton/bpfman-agent-zstream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-pull-request.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
  .tekton/bpfman-operator-zstream-pull-request.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: none

Bump OPENSHIFT-VERSION to 0.6.1 for next z-stream patch
  OPENSHIFT-VERSION
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-ystream-on-push

Remove unused build-image-index parameters
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Add alebedev87 to OWNERS
  OWNERS
Due: none

feat(sast): configure sast-snyk-check task
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

feat(renovate): disable github-actions bumps
  renovate.json
Due: none

feat(sast): add cachi2/ to ignorepath
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Add deploy-fbc-operator integration test pipeline
  .tekton/its/deploy-fbc-operator-run.yaml
  .tekton/its/deploy-fbc-operator.yaml
Due: none

feat: add RapiDAST DAST scanning workflow
  .github/rapidast/bpfapplication-oobtkube-cr.yaml
  .github/rapidast/oobtkube-config.yaml
  .github/rapidast/zap-config.yaml
  .github/workflows/rapidast.yml
Due: none

OWNERS: Add Andrey to owners
  OWNERS
Due: none

Add a Konflux operand-bump PR generator
  hack/openshift/create-nudge-bump-pr.sh
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

Harden create-nudge-bump-pr.sh per review
  hack/openshift/create-nudge-bump-pr.sh
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

test/integration: run against an existing cluster
  Makefile
  go.mod
  test/integration/existingcluster.go
  test/integration/suite_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

test/integration: deploy the OpenShift SELinux example overlay
  test/integration/app_test.go
  test/integration/common.go
  test/integration/kprobe_test.go
  test/integration/tc_test.go
  test/integration/tcx_test.go
  test/integration/tracepoint_test.go
  test/integration/uprobe_test.go
  test/integration/xdp_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

test/integration: tolerate multiple userspace pods
  test/integration/tc_test.go
  test/integration/tcx_test.go
  test/integration/xdp_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

test/integration: clean up the uprobe target namespace
  test/integration/app_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Prefer `KUBECONFIG` over in-cluster config in `GetK8sConfigOrDie`
  pkg/helpers/helpers.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Makefile: raise the OpenShift integration test timeout
  Makefile
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Makefile: note the security-profiles-operator prerequisite
  Makefile
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

test/lifecycle: keep the deployed images on config recreation
  test/lifecycle/lifecycle_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

test/integration: make workload teardown idempotent
  test/integration/app_test.go
  test/integration/common.go
  test/integration/kprobe_test.go
  test/integration/tc_test.go
  test/integration/tcx_test.go
  test/integration/tracepoint_test.go
  test/integration/uprobe_test.go
  test/integration/xdp_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Re-enable `relatedImages` in bundle CSV for disconnected mode support
  hack/openshift/update-bundle.py
Due: bpfman-agent-ystream-on-push, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, bpfman-operator-ystream-on-push

cmd/metrics-proxy: retire self-test mode
  cmd/metrics-proxy/main.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

test/integration: retire metrics-proxy self-test driver
  test/integration/common.go
  test/integration/metrics_test.go
Due: bpfman-agent-ystream-on-pull-request, bpfman-agent-ystream-on-push, bpfman-operator-ystream-on-push

Add `verify-test` stage to operator Containerfile
  Containerfile.bpfman-operator.openshift
Due: bpfman-operator-ystream-on-push

test: pin daemon to PR-built image for CI validation
  hack/konflux/images/bpfman.txt
Due: none

ci: trigger bundle pipeline on daemon/agent image changes
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Path conditions:
  bpfman-agent-ystream-on-pull-request: ((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-agent-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-agent-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-agent.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)
  bpfman-agent-ystream-on-push: (((((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-agent-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-agent-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-agent.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)) or (any of: hack/openshift/***)) or (any of: hack/konflux/images/bpfman-agent.txt)) or (any of: OPENSHIFT-VERSION)
  bpfman-operator-bundle-ystream-on-pull-request: (((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)) or (any of: OPENSHIFT-VERSION)
  bpfman-operator-bundle-ystream-on-push: ((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)
  bpfman-operator-ystream-on-push: ((((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)) or (any of: hack/openshift/***)) or (any of: OPENSHIFT-VERSION)
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)
