Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-agent-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

bpfman-agent-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-agent-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-operator-bundle-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

bpfman-operator-bundle-ystream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/bpfman-operator-bundle-ystream:{{revision}}
  - name: dockerfile
    value: Containerfile.bundle.openshift
  - name: prefetch-input
  ...

ocp-bpfman-operator-catalog-ocp4-19-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

ocp-bpfman-operator-catalog-ocp4-20-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

Add bpfman-uninstall-ocp420.sh cleanup script
  hack/openshift/bpfman-uninstall-ocp420.sh
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Bump OPENSHIFT-VERSION to 0.5.7-dev-1 for OCP 4.20 y-stream
  OPENSHIFT-VERSION
Due: bpfman-operator-bundle-ystream-on-pull-request

Bump OPENSHIFT-VERSION to 0.5.7-dev-2 for OCP 4.20 z-stream
  OPENSHIFT-VERSION
Due: bpfman-operator-bundle-ystream-on-pull-request

Improve bundle transformation validation check
  Containerfile.bundle.openshift
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Restore release label to bundle Containerfile for Konflux validation
  Containerfile.bundle.openshift
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Align bundle Containerfile labels with Red Hat OLM conventions
  Containerfile.bundle.openshift
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Fix label consistency issues across all downstream Containerfiles
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
Due: bpfman-agent-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Bump OPENSHIFT-VERSION to 0.5.8 for OCP 4.20 y-stream development
  OPENSHIFT-VERSION
Due: bpfman-operator-bundle-ystream-on-pull-request

Align z-stream agent Tekton pipelines with y-stream configuration
  .tekton/bpfman-agent-zstream-pull-request.yaml
  .tekton/bpfman-agent-zstream-push.yaml
Due: none

Fix bundle build timing to prevent premature dependency references
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Test bundle nudging mechanism with dummy file
  hack/openshift/test-nudging.txt
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Restore CEL path triggers for bundle nudge files
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Revert "Fix bundle build timing to prevent premature dependency references"
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Revert "Revert "Fix bundle build timing to prevent premature dependency references""
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Test bundle nudging mechanism with updated timestamp
  hack/openshift/test-nudging.txt
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Test bundle nudging with all components having revision:main
  hack/openshift/test-nudging.txt
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Fix bundle pipeline to trigger on daemon image updates
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Add hermetic parameter to pipeline configurations
  .tekton/bpfman-agent-ystream-pull-request.yaml
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-agent-zstream-pull-request.yaml
  .tekton/bpfman-agent-zstream-push.yaml
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-pull-request.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
  .tekton/bpfman-operator-ystream-pull-request.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  .tekton/bpfman-operator-zstream-pull-request.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Remove hermetic parameter default from pipeline definitions
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Revert "Restore multi-arch builds"
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-agent-ystream-on-pull-request

Remove nudge file path triggers from bundle CEL expressions
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Remove nudge file path triggers from bundle CEL expressions (#1077)
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Restore hack/konflux/images path triggers in bundle CEL expressions
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Restore hack/konflux/images path triggers in bundle CEL expressions (#1078)
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Test bundle nudging after restoring hack/konflux/images path trigger
  hack/openshift/test-nudging.txt
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Add test file to trigger component builds
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request

Revert "Add test file to trigger component builds"
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request

Test bundle nudging after restoring hack/konflux/images path trigger (#1079)
  hack/openshift/test-nudging.txt
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Test component builds trigger bundle rebuild workflow
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request

Test component builds trigger bundle rebuild workflow (#1080)
  cmd/test-nudging.txt
Due: bpfman-agent-ystream-on-pull-request

Fix component pipeline CEL expressions to enable nudging
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-agent-zstream-push.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: bpfman-agent-ystream-on-pull-request

Revert "Merge pull request #1083 from frobware/fix-nudge-cel-expressions"
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-agent-zstream-push.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: bpfman-agent-ystream-on-pull-request

Remove nudge file path triggers from component push pipelines
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-agent-zstream-push.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: bpfman-agent-ystream-on-pull-request

Synchronise bundle builds through operator component
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-bundle-zstream-push.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  .tekton/bpfman-operator-zstream-push.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Remove wasteful bundle validation triggers for component nudge files
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-zstream-pull-request.yaml
Due: bpfman-operator-bundle-ystream-on-pull-request, bpfman-operator-bundle-ystream-on-push

Test operator and agent build nudge mechanism
  cmd/test-nudge-trigger-operator-agent.txt
Due: bpfman-agent-ystream-on-pull-request

Update Konflux documentation to reflect synchronisation architecture
  hack/konflux/README.md
Due: none

Test bundle synchronisation after PR 1100 configuration changes
  cmd/test-bundle-sync-v2.txt
Due: bpfman-agent-ystream-on-pull-request

Path conditions:
  bpfman-agent-ystream-on-pull-request: ((((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-agent-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-agent-ystream-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-agent.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: config/***)
  bpfman-operator-bundle-ystream-on-pull-request: (((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)) or (any of: OPENSHIFT-VERSION)
  bpfman-operator-bundle-ystream-on-push: ((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/bpfman-operator-bundle-ystream-pull-request.yaml)) or (any of: .tekton/bpfman-operator-bundle-ystream-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/openshift/***)) or (any of: config/***)) or (any of: rpms.in.yaml)) or (any of: requirements.txt)
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)
