Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bpfman-operator-bundle-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push, bpfman-operator-on-push

bpfman-operator-bundle-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"type":"pip", "path":"."}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

ocp-bpfman-operator-catalog-ocp4-19-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

ocp-bpfman-operator-catalog-ocp4-20-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

bpfman-operator-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/ocp-bpfman-operator:{{revision}}
  - name: dockerfile
  ...

Remove obsolete Python requirements.txt
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-push.yaml
  requirements.txt
Due: bpfman-operator-on-push

Remove fallback image references from Go tooling
  hack/openshift/Makefile
  hack/openshift/README.md
  hack/openshift/update_bundle.go
  hack/openshift/update_configmap.go
Due: none

Clarify architecture support description in OpenShift tooling README
  hack/openshift/README.md
Due: none

Add Makefile targets for dry-run testing in OpenShift tooling
  hack/openshift/Makefile
  hack/openshift/README.md
Due: none

Add OpenShift transformation scripts to hack/openshift/
  hack/openshift/Makefile
  hack/openshift/README.md
  hack/openshift/konflux/images/bpfman-agent.txt
  hack/openshift/konflux/images/bpfman-operator-bundle.txt
  hack/openshift/konflux/images/bpfman-operator.txt
  hack/openshift/konflux/images/bpfman.txt
  hack/openshift/pyproject.toml
  hack/openshift/update-bundle.py
  hack/openshift/update-catalog.sh
  hack/openshift/update-configmap.py
Due: none

Add RPM lockfile generation script for Konflux builds
  hack/openshift/generate-rpm-lockfile.sh
Due: none

Add sync-version.sh script to sync VERSION across OpenShift Containerfiles
  hack/openshift/Makefile
  hack/openshift/sync-version.sh
Due: none

Add RPM configuration for hermetic Konflux builds
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  .tekton/ocp-bpfman-operator-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
Due: bpfman-operator-bundle-on-push, ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push, bpfman-operator-on-push

Update OpenShift image references to latest nudged versions
  hack/openshift/konflux/images/bpfman-agent.txt
  hack/openshift/konflux/images/bpfman-operator-bundle.txt
  hack/openshift/konflux/images/bpfman-operator.txt
  hack/openshift/konflux/images/bpfman.txt
Due: none

Update OpenShift Containerfiles to VERSION 0.5.7-dev
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
  Containerfile.bundle.openshift
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-push

Update Containerfiles to use new hack/openshift/ scripts
  Containerfile.bundle.openshift
  Containerfile.catalog.openshift-4.20
  hack/openshift/konflux/README.md
Due: bpfman-operator-bundle-on-push, ocp-bpfman-operator-catalog-ocp4-20-on-push

Remove obsolete transformation scripts from hack/
  hack/patch_catalog_build_date.py
  hack/update_bundle.sh
  hack/update_bundle_python.py
  hack/update_catalog.sh
  hack/update_configmap.sh
Due: bpfman-operator-bundle-on-push, ocp-bpfman-operator-catalog-ocp4-20-on-push

Move Konflux nudge files from hack/openshift/konflux to hack/konflux
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  Containerfile.bundle.openshift
  Containerfile.catalog.openshift-4.20
  hack/konflux/README.md
  hack/konflux/images/bpfman-agent.txt
  hack/konflux/images/bpfman-operator-bundle.txt
  hack/konflux/images/bpfman-operator.txt
  hack/konflux/images/bpfman.txt
  hack/openshift/Makefile
Due: bpfman-operator-bundle-on-push, ocp-bpfman-operator-catalog-ocp4-20-on-push

Add build-time metadata labels to container images
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-push

Fix OCP 4.20 catalog pipelines to target release-4.20 branch
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Add rpms.in.yaml monitoring to bundle pipelines
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
Due: bpfman-operator-bundle-on-push

Remove catalog files from main branch
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Update builder images to UBI9 with Go 1.24
  Containerfile.bpfman-agent.openshift
  Containerfile.bpfman-operator.openshift
Due: bpfman-operator-on-push

Remove obsolete catalog directory from main branch
  catalog/index.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Test minimal CI configuration
  Makefile
Due: bpfman-operator-on-push

Red Hat Konflux update bpfman-agent-ystream
  .tekton/bpfman-agent-ystream-pull-request.yaml
  .tekton/bpfman-agent-ystream-push.yaml
Due: none

Red Hat Konflux update bpfman-operator-ystream
  .tekton/bpfman-operator-ystream-pull-request.yaml
  .tekton/bpfman-operator-ystream-push.yaml
Due: none

Red Hat Konflux update bpfman-operator-bundle-ystream
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
Due: none

Migrate CEL expressions to new ystream components
  .tekton/bpfman-agent-ystream-pull-request.yaml
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-ystream-pull-request.yaml
  .tekton/bpfman-operator-ystream-push.yaml
Due: none

Add build-nudge-files to ystream push pipelines
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-ystream-push.yaml
Due: none

Enable hermetic builds by default in shared pipelines
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-push

Change build-source-image default to true in pipeline definitions
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-push

Replace inline pipelineSpec with pipelineRef in ystream files
  .tekton/bpfman-agent-ystream-pull-request.yaml
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-ystream-pull-request.yaml
  .tekton/bpfman-operator-ystream-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-operator-on-push

Add prefetch-input to bundle ystream files for hermetic builds
  .tekton/bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
Due: none

Document Konflux component transition management
  hack/konflux/README.md
Due: none

Disable legacy ocp pipelines
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: bpfman-operator-bundle-on-push, bpfman-operator-on-push

docs: clarify that mintmaker annotation doesn't stop pipeline triggers
  hack/konflux/README.md
Due: none

Test: Verify legacy pipelines are disabled
  test-file.txt
Due: none

Add doc.go to trigger pipeline paths
  doc.go
Due: none

Move doc.go to cmd/ to trigger pipeline paths
  cmd/doc.go
  doc.go
Due: bpfman-operator-on-push

Add ystream component mirrors to ImageDigestMirrorSet
  .tekton/images-mirror-set.yaml
Due: none

chore: update buildah-remote-oci-ta task bundle reference
  .tekton/multi-arch-build-pipeline.yaml
Due: bpfman-operator-on-push

docs: add sync-version documentation to OpenShift tools
  hack/openshift/Makefile
  hack/openshift/README.md
Due: none

tekton: add hack/konflux path to push pipeline CEL expressions
  .tekton/bpfman-agent-ystream-push.yaml
  .tekton/bpfman-operator-bundle-ystream-push.yaml
  .tekton/bpfman-operator-ystream-push.yaml
Due: none

test: add dummy file to trigger pipeline CEL expressions
  cmd/nudge-test.txt
Due: bpfman-operator-on-push

Path conditions:
  bpfman-operator-bundle-on-push: ((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/ocp-bpfman-operator-bundle-pull-request.yaml)) or (any of: .tekton/ocp-bpfman-operator-bundle-push.yaml)) or (any of: Containerfile.bundle.openshift)) or (any of: bundle/***)) or (any of: hack/update_bundle.sh)) or (any of: hack/update_configmap.sh)
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)
  bpfman-operator-on-push: (((((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/ocp-bpfman-operator-pull-request.yaml)) or (any of: .tekton/ocp-bpfman-operator-push.yaml)) or (any of: apis/***)) or (any of: controllers/***)) or (any of: cmd/***)) or (any of: Containerfile.bpfman-operator.openshift)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: pkg/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)
