Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Path conditions:
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)

Remove diff logic from catalog update script
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Remove all RPM dependencies from hermetic builds
  rpms.in.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Disable profiling port in bpfman-agent to avoid host network conflicts
  config/bpfman-deployment/daemonset.yaml
Due: none

Revert "Fix Konflux hermetic build configuration to resolve enterprise contract policy violations"
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix Konflux hermetic build configuration using correct parameter patterns
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: none

Update CI build root to use Go 1.23
  .ci-operator.yaml
Due: none

Fix test-fmt job by updating CI build root to use Go 1.23
  .ci-operator.yaml
Due: none

Fix hermetic builds: resolve pipelineRef parameter validation issue
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: none

Implement hermetic-by-default build configuration
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Complete hermetic-by-default build architecture from clean baseline
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix CEL expressions to trigger builds for config file changes
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix FIPS compliance check by ensuring comprehensive upstream image replacement in bundle processing
  hack/update_bundle.sh
Due: none

Complete Tekton task updates missed by PR #655
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Update Tekton task references to latest versions
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
Due: none

Update remaining Tekton task references to latest versions
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Update ecosystem-cert-preflight-checks task to trusted version
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Restore Tekton pipeline tasks to last successful build versions
  .tekton/multi-arch-build-pipeline.yaml
Due: none

Remove unnecessary manifest processing from update_bundle.sh
  hack/update_bundle.sh
Due: none

Revert "Fix FIPS compliance check by ensuring comprehensive upstream image replacement in bundle processing"
  hack/update_bundle.sh
Due: none

Revert "Merge pull request #696 from frobware/hermetic-by-default-complete"
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix registry authentication for catalogue builds
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request

Fix Konflux nudging to include update_bundle_python.py
  .tekton/ocp-bpfman-operator-push.yaml
Due: none

Sync update_bundle_python.py with current operator image
  hack/update_bundle_python.py
Due: none

Fix update_bundle_python.py string replacement patterns
  hack/update_bundle_python.py
Due: none

Replace Python catalog processing with shell-based FIPS-compliant solution
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Update catalog to use published operator images
  catalog/index.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Skip fbc-target-index-pruning-check task in OCP 4.19 catalog pipelines
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request

Revert "Skip fbc-target-index-pruning-check task in OCP 4.19 catalog pipelines"
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request

Fix missing metrics-proxy-daemonset.yaml in OpenShift Containerfile
  Containerfile.bpfman-operator.openshift
Due: none

Update Tekton pipelines to trigger on release-4.19 branch
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

chore(deps): update konflux references
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Add requirements.txt to Tekton pipeline CEL expressions
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Enhance renovate configuration to group Python dependencies
  renovate.json
Due: none

Test verified label requirement with dummy change
  cmd/bpfman-operator/main.go
Due: none

Fix 4.19 catalog pipelines to target release-4.19 branch
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request

Replace Python bundle transformation scripts with Go
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  Containerfile.bundle.openshift
  hack/openshift/konflux/images/bpfman-agent.txt
  hack/openshift/konflux/images/bpfman-operator.txt
  hack/openshift/konflux/images/bpfman.txt
  hack/openshift/update_bundle.go
  hack/openshift/update_configmap.go
  hack/update_bundle.sh
  hack/update_bundle_python.py
  hack/update_configmap.sh
Due: none

Extend Go-based transformation system to catalog builds
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
  hack/openshift/konflux/images/bpfman-operator-bundle.txt
  hack/openshift/update_catalog.go
  hack/patch_catalog_build_date.py
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Add documentation for OpenShift downstream tooling
  hack/openshift/README.md
Due: none
