Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Path conditions:
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)

fix: ensure pipeline-fbc-ref matches original pipeline definitions
  .tekton/pipeline-fbc-ref.yaml
Due: none

fix: add fbc-target-index-pruning-check task to FBC pipelines
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Update OWNERS
  OWNERS
Due: none

Konflux build pipeline service account migration for ocp-bpfman-agent Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
Due: none

Konflux build pipeline service account migration for ocp-bpfman-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: none

Konflux build pipeline service account migration for ocp-bpfman-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
Due: none

Konflux build pipeline service account migration for ocp-bpfman-operator-catalog Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
Due: none

Konflux build pipeline service account migration for ocp-bpfman-operator-catalog-ocp4-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
Due: none

Konflux build pipeline service account migration for ocp-bpfman-operator-catalog-ocp4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request

Konflux build pipeline service account migration for ocp-bpfman-operator-catalog-ocp4-20 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

catalog/index.yaml: drop kube-rbac-proxy relatedImages references
  catalog/index.yaml
  hack/update_fbc.sh
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Add ppc64le and s390x architecture support to multi-arch pipeline
  .tekton/multi-arch-build-pipeline.yaml
Due: none

Fix multi-arch builds on operator catalog pipelines
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

fmt test
  Makefile
Due: none

chore: disable renovate for gomod
  renovate.json
Due: none

renovate: Enable Go module management but restrict to CVE fixes
  renovate.json
Due: none

go.mod: Switch to Go 1.23
  go.mod
Due: none

Revert "Merge pull request #546 from frobware/renovate-enable-go-mod-vendor"
  renovate.json
Due: none

Fix apply-tags pipeline validation errors
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Revert "Fix multi-arch builds on operator catalog pipelines"
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

ocp-bpfman-operator-catalog-ocp4-19: build for all architectures
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
Due: none

hack/update_catalog.sh: drop Python requirements
  Containerfile.catalog.openshift-4.19
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

rpms.in.yaml: add arches (aarch64, ppc64le, s390x)
  rpms.in.yaml
  rpms.lock.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Use Cachi2 prefetched dependencies for hermetic catalog builds
  Containerfile.catalog.openshift-4.19
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request

4.20
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  Containerfile.catalog.openshift-4.20
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

.tekton: Add multi-arch support to 4.19/20 pull-request
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Force image index creation in catalog PR pipelines
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Force image index creation in catalog PR push pipelines
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix Tekton pipeline triggers for release-4.19 branch
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request

Remove old catalog build infrastructure
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Red Hat Konflux update ocp-bpfman-agent-ystream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-agent-ystream-pull-request.yaml
  .tekton/ocp-bpfman-agent-ystream-push.yaml
Due: none

Red Hat Konflux update ocp-bpfman-agent-zstream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-agent-zstream-pull-request.yaml
  .tekton/ocp-bpfman-agent-zstream-push.yaml
Due: none

Red Hat Konflux update ocp-bpfman-catalog-ystream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-catalog-ystream-pull-request.yaml
  .tekton/ocp-bpfman-catalog-ystream-push.yaml
Due: none

Red Hat Konflux update ocp-bpfman-catalog-zstream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-catalog-zstream-pull-request.yaml
  .tekton/ocp-bpfman-catalog-zstream-push.yaml
Due: none

Red Hat Konflux update ocp-bpfman-operator-bundle-ystream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-bundle-ystream-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-ystream-push.yaml
Due: none

Red Hat Konflux update ocp-bpfman-operator-bundle-zstream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-bundle-zstream-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-zstream-push.yaml
Due: none

Red Hat Konflux update ocp-bpfman-operator-ystream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-ystream-pull-request.yaml
  .tekton/ocp-bpfman-operator-ystream-push.yaml
Due: none

Red Hat Konflux update ocp-bpfman-operator-zstream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ocp-bpfman-operator-zstream-pull-request.yaml
  .tekton/ocp-bpfman-operator-zstream-push.yaml
Due: none
