Repository openshift/bpfman-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

ocp-bpfman-operator-catalog-ocp4-19-on-pull-request:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

ocp-bpfman-operator-catalog-ocp4-20-on-push:
  params:
  - name: build-source-image
    value: 'true'
  - name: prefetch-input
    value: '{"packages": [{"type": "rpm"}]}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
  ...

Red Hat Konflux update catalog-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-18-push.yaml
Due: none

Red Hat Konflux update catalog-4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-19-push.yaml
Due: none

Red Hat Konflux update catalog-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/catalog-4-20-pull-request.yaml
  .tekton/catalog-4-20-push.yaml
Due: none

remove dependency on security-profiles-operator
  Makefile
  bundle/metadata/dependencies.yaml
Due: none

Revert "Merge pull request #572 from frobware/simplify-hack-update-fbc-script"
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
  hack/update_catalog.sh
  rpms.in.yaml
  rpms.lock.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Remove redundant sed commands from catalog update script
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Add feedback mechanism to catalog update script
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Update catalog build process to set createdAt timestamp
  hack/patch_catalog_build_date.py
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix sast-unicode-check-oci-ta v0.3 missing image-digest parameter
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Copy patch_catalog_build_date.py into catalog container images
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Remove duplicate image-digest parameter from sast-unicode-check task
  .tekton/multi-arch-build-pipeline.yaml
Due: none

Complete removal of security-profiles-operator dependency
  Makefile
  config/manifests/dependencies.yaml.disabled
Due: none

Fix hermetic task violation in buildah-remote-oci-ta task
  .tekton/multi-arch-build-pipeline.yaml
Due: none

Update catalog to reference release fbc-4-19-20250710-160159-mg9jv
  catalog/index.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Migrate source-build-oci-ta task to support 0.3 parameter changes
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

hack/update_catalog: Add comment markers to reduce merge conflicts
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Update Go version to 1.23 and downgrade k8s.io/cri-api to v0.31.1
  go.mod
  go.sum
  vendor/github.com/go-openapi/jsonpointer/errors.go
  vendor/github.com/go-openapi/swag/errors.go
  vendor/github.com/google/gnostic-models/openapiv3/annotations.pb.go
  vendor/github.com/google/gnostic-models/openapiv3/annotations.proto
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  vendor/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
  vendor/k8s.io/kube-openapi/pkg/generators/rules/list_type_streaming_tags.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/LICENSE
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/patterns.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/govalidator/validator.go
  vendor/modules.txt
  vendor/sigs.k8s.io/randfill/CONTRIBUTING.md
  vendor/sigs.k8s.io/randfill/LICENSE
  vendor/sigs.k8s.io/randfill/NOTICE
  vendor/sigs.k8s.io/randfill/OWNERS
  vendor/sigs.k8s.io/randfill/OWNERS_ALIASES
  vendor/sigs.k8s.io/randfill/README.md
  vendor/sigs.k8s.io/randfill/SECURITY_CONTACTS
  vendor/sigs.k8s.io/randfill/bytesource/bytesource.go
  vendor/sigs.k8s.io/randfill/code-of-conduct.md
  vendor/sigs.k8s.io/randfill/randfill.go
Due: none

Fix hermetic parameter for 4.19 and 4.20 catalog pipelines
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Add hermetic parameter to operator, agent, and bundle pipelines
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: none

Add Cachi2 support to bundle Containerfile for hermetic builds
  Containerfile.bundle.openshift
Due: none

Remove cri-tools build from agent Containerfile
  Containerfile.bpfman-agent.openshift
Due: none

Add metrics-proxy and bpfman-crictl builds to agent Containerfile
  Containerfile.bpfman-agent.openshift
Due: none

Add Cachi2 prefetch support to bundle pipelines
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  rpms.bundle.in.yaml
Due: none

Fix Cachi2 prefetch configuration for bundle pipelines
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  rpms.bundle.in.yaml
  rpms.in.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Convert bundle to Python-based build for hermetic support
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  Containerfile.bundle.openshift
  requirements.txt
Due: none

Replace bundle shell scripts with Python to eliminate skopeo/jq dependencies
  Containerfile.bundle.openshift
  hack/update_bundle_python.py
Due: none

Complete Python-based bundle build with working Cachi2 hermetic support
  Containerfile.bundle.openshift
  hack/update_bundle_python.py
  requirements.txt
Due: none

Revert "Add hermetic parameter to operator, agent, and bundle pipelines"
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
Due: none

Disable profiling port in bpfman-agent to avoid host network conflicts
  config/bpfman-deployment/daemonset.yaml
Due: none

Set hermetic build parameter to true by default in Tekton pipelines
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Revert "Set hermetic build parameter to true by default in Tekton pipelines"
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Revert "Merge pull request #674 from frobware/fix-hermetic-build-defaults"
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Fix Konflux hermetic build configuration to resolve enterprise contract policy violations
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/ocp-bpfman-agent-pull-request.yaml
  .tekton/ocp-bpfman-agent-push.yaml
  .tekton/ocp-bpfman-operator-bundle-pull-request.yaml
  .tekton/ocp-bpfman-operator-bundle-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  .tekton/ocp-bpfman-operator-pull-request.yaml
  .tekton/ocp-bpfman-operator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix catalog builds for hermetic mode by adding prefetch dependencies
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-18-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-19-push.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml
  .tekton/ocp-bpfman-operator-catalog-pull-request.yaml
  .tekton/ocp-bpfman-operator-catalog-push.yaml
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Process catalog files in writable /tmp directory
  hack/update_catalog.sh
Due: ocp-bpfman-operator-catalog-ocp4-20-on-push

Fix catalog directory permissions with --chown in COPY commands
  Containerfile.catalog.openshift-4.17
  Containerfile.catalog.openshift-4.18
  Containerfile.catalog.openshift-4.19
  Containerfile.catalog.openshift-4.20
Due: ocp-bpfman-operator-catalog-ocp4-19-on-pull-request, ocp-bpfman-operator-catalog-ocp4-20-on-push

Path conditions:
  ocp-bpfman-operator-catalog-ocp4-19-on-pull-request: (((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-19-pull-request.yaml) or (any of: Containerfile.catalog.openshift-4.19)) or (any of: rpms.in.yaml)) or (any of: catalog/***)
  ocp-bpfman-operator-catalog-ocp4-20-on-push: (((((any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-pull-request.yaml) or (any of: .tekton/ocp-bpfman-operator-catalog-ocp4-20-push.yaml)) or (any of: Containerfile.catalog.openshift-4.20)) or (any of: catalog/***)) or (any of: rpms.in.yaml)) or (any of: hack/update_catalog.sh)
